h1{
  color: #333;
}
  
p{
  margin: 10px 0;
  font-size: 20px;
  background-color: gray;
}


input[type="number"]{
  padding: 5px;
  font-size: 16px;
}
  
button{
  padding: 8px 12px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
}
  
button:hover{
  background-color: #23527c;
}
  
#result{
  margin-top: 20px;
}
  