p{
    color: #000000;
    padding: 16px;
}
#location{
    text-align: center;
}

div.text{
    background-color: #60606097;
}
div.text:hover{
    background-color: rgba(106, 106, 106, 0.81);
}

a:active{
    color:rgba(255, 0, 0, 0.81);
}
::selection{/*反白處*/
    color: #000000;
    background: #ffffff97;
}
div.gallery{
    margin: 5px;
    border: 4px ridge rgb(228, 228, 228);
    width: 300px;
}